<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu7i_Dj4ub38pI1HTsAioMI-b_bwxejDs</string>
	<key>GCM_SENDER_ID</key>
	<string>305148544930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nbe-app</string>
	<key>PROJECT_ID</key>
	<string>nbe-app-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>nbe-app-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305148544930:ios:e8a5daecac006862e494fb</string>
	<key>DATABASE_URL</key>
	<string>https://nbe-app-clone-default-rtdb.firebaseio.com</string>
</dict>
</plist>